:root {
	--base: #1e1e2e;
	--window: #313244;
	--highlight: #a6adc8;
	--text: #cdd6f4;
	
	--red: #f38ba8;
	--green: #a6e3a1;
}
@font-face {
	font-family: "MesloLGS";
	src: url(MesloLGS-Regular.ttf);
}

#input {
	border: none;
	font-size: large;
	border-radius: 10px;
	padding: 5px;
	tab-size: 4;

	caret-color: #f5e0dc;
}
#input:focus-within, #input:focus-visible, #input:focus {
	outline: 1px solid var(--highlight);
}
::selection {
	color: var(--base);
	background-color: var(--highlight);
}
#output_div {
	border: none;
	border-radius: 10px;
	overflow: hidden;
}
#output {
	font-size: large;
	overflow: auto;
}

select, #run {
	border-radius: 5px;
	border: none;
	margin: 4px;
}

.base {
	background-color: var(--base);
}
.text {
	font-family: MesloLGS;
	color: var(--text);
}
.window {
	background-color: var(--window);
}

.success {
	background-color: var(--green);
}
.fail {
	background-color: var(--red);
}
.loading {
	background-color: var(--text);
}

.err {
	color: var(--red);
}
